<footer class="footer">
    <div class="footer-content">
        <p>&copy; Himanshu Mittal 2024. All rights reserved.</p>
        <div class="footer-social-links">
            <a href="mailto:himanshu.mittal.dev@gmail.com" title="Email" target="_blank" rel="noopener">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="https://linkedin.com/in/himanshumittal13" title="LinkedIn" target="_blank" rel="noopener">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/HimanshuMittal01" title="GitHub" target="_blank" rel="noopener">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/thesevenbow" title="Twitter" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>